.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}
#eyecatch {
  height: 600px;
  background: url(./img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-style: italic;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
}
.title {
  font-size: 20px;
  padding: 5px;
  background: #fff;
  width: 50%;
  position: relative;
  top: 90%;
  left: 50%;
}

img {
  width: 40%;

  position: relative;
  left: 60%;
  top: 50px;
}
body {
  background-color: black;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  position: relative;
  left: 50px;
  bottom: 200px;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right {
  position: relative;
  top: auto;
  left: auto;
}
p {
  position: relative;
  display: flexbox;
  left: 50px;
  color: #fff;
  margin: 0;
  bottom: 150px;
}
.link {
  padding: 5px 20px;
  position: relative;
  font-size: 12px;
  color: #fff;
  text-decoration: #fff;
  border: 1px #fff solid;
  border-radius: 3px;
  transition: 0.4s ease;
  left: 50px;
  bottom: 100px;
}
.link:hover {
  color: #fff;
  background: #fff;
}
